body {
    margin: 0;
}

#logoCont{
    display: flex;justify-content:center ;
}

.logoBtn {
    margin-top: 30px;
    width: 250px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.NavBar {
        top: 1600px;
        background-color: transparent;
        margin-top: 40px;   
        font-size: 25px;
        text-align: center;
      
    }
    .NavBar ul {
        top: 150px;
        display: inline;
        width: 100px;
    }

    .navBtn {
        top: 160px;
        text-decoration: none;
        color: black;
        transition: .5s;
        text-transform: uppercase;
        margin-right: 5px;
        margin-left: 5px;
    }

    .navBtn:hover {
        color : turquoise;
        transition: .5s;
        cursor: pointer;
    }

.bannerImg {
    position: absolute;
    top: 290px;
    width: 100%;
    height: 740px;
    margin: 0px;
    z-index: -1;
}
.welcometopaper {
    position: absolute;
    top: 390px;
    width: 924px;
    height: 415px;
    margin: 0px;
}

.footer{
    margin-top: 1000px;
}